
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html , body , .container{
    width: 100%;
    height: 100%;
    background-color: #D5E1EF;
}

.card{
    margin: 100px auto 100px auto;
    width: 340px;
    border: 20px solid #FFFFFF;
    border-radius: 20px;
    height: 500px;
    background-color: #FFFFFF;
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.card h3{
    margin: 10px;
    
    text-align: center;
    line-height: 1.9rem;
    font-size: 1.5rem;
    font-weight: 900;
}
.card p {
    color: #96999e;
    line-height: 1.6rem;
    text-align: center;

    font-size: 1rem;
    font-weight: 400;
}